.body-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    width: 50%;
    padding-top: 50px;
    text-align: center;
    border-radius: 16px;
    border-color:  #50d890;
    border-style: solid;

}

.body-child{
    display: inline-block
}
