a {
    text-decoration: none;
}
a,h1{
    color:White;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  /* Adds a highlight when then element is selected */
.active-tab{
    color: white;
    font-size: larger;
    border-bottom: 1px solid white;
}


.Nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/compost.jpg');
    background-size: cover;
    background-position: center;
    /* padding-bottom: 100px; */
    height: 150px;
    font-size: large;
}
