a {
    text-decoration: none;
}
a,h1{
    color:#655c56;
    font-family: 'ConcertOne-Regular';
  }

.active-tab{
    color:#655c56;
    font-size: larger;
    border-bottom: 1px solid black;
}


.Nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #94d3ac;
    padding: 20px;
    font-size: large;
}
