.sign-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    width:50%;
    padding-top: 50px;
    text-align: center;
    border-radius: 16px;
    border-color:  #50d890;
    border-style: solid;
    color: #50d890;
  
}
.sign-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    width: 100px;
    border-radius: 16px;

}
.sign-anchor{
    color :red;
    width: 100px;
}
